<div class="alert card" role="alert">
  <h4 class="alert-heading">Painel Administrativo!</h4>
  <p>Este é o seu painel administrativo, onde poderá editar, criar e deletar as informações do seu BLOG.</p>
  <hr>
</div>


<div class="row mt-4">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><i class="bi bi-newspaper"></i> Postagens</h5>
        <p class="card-text">Crie, modifique ou apague suas postagens.</p>
        <a href="/admin/postagens" class="btn btn-primary">Acessar</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><i class="bi bi-card-list"></i> Categorias</h5>
        <p class="card-text">Crie, modifique ou apague suas categorias.</p>
        <a href="/admin/categorias" class="btn btn-primary">Acessar</a>
      </div>
    </div>
  </div>
</div>


<div class="row mt-4">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><i class="bi bi-file-earmark-person-fill"></i> Usuários</h5>
        <p class="card-text">Crie, modifique ou apague seus usuários.</p>
        <a href="/admin/usuarios" class="btn btn-primary">Acessar</a>
      </div>
    </div>
  </div>
</div>